@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Projects {
    background-color: $color--blue-dark;

    @include smScreen {
        padding: 0;
    }
}

.Cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    @include smScreen {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
}

.Card {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;

    @include smScreen {
        padding-top: 100%;
    }

    &__Background {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__Waves {
        bottom: 0;
        display: none;
        left: 0;
        position: absolute;
        width: 100%;

        @include smScreen {
            display: block;
        }
    }

    &__Info {
        background-image: linear-gradient(to bottom, rgba($color--blue-dark, 0.9), rgba($color--blue-dark, 0.9));
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        left: 0;
        padding: 3rem 3em;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__Label {
        color: $color--green;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__Title {
        color: $color--white;
    }

    &__Bottom {
        display: flex;

        @include smScreen {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__Description {
        color: $color--white;

        @include smScreen {
            margin-bottom: 1rem;
        }
    }
}

.Card.Focus {
    .Card__Waves {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    .Card__Info {
        transform: translateY(0);
        transition: transform 0.4s ease-in-out;
    }

    .Card__Top,
    .Card__Bottom {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
        transition-delay: 0.4s;
    }
}

.Card:not(.Focus) {
    .Card__Waves {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
    }

    .Card__Info {
        transform: translateY(100%);
        transition: transform 0.4s ease-in-out;
    }

    .Card__Top,
    .Card__Bottom {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    @include smScreen {
        .Card__Info {
            background-image: none;
            transform: translateY(50%);
        }

        .Card__Top {
            opacity: 1;
        }
    }
}

.ComingSoon {
    color: $color--green;
    padding-top: 10rem;
    text-align: center;
    width: 100%;
}

.Player {
    background-color: transparent;
}
