@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Projects {
    background-color: $color--blue-dark;
    overflow: hidden;

    @include smScreen {
        padding: 0;
    }

    &__Cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include smScreen {
            display: block;
            grid-template-columns: unset;
        }
    }

    &__Card {
        align-items: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        margin: 2rem;
        padding-top: 56.25%;
        position: relative;

        @include smScreen {
            margin: 0;
            padding-top: 100%;
        }

        &:not(&--Active) {
            .Projects__Info {
                display: none;
            }
        }

        @include smScreen {
            &:not(&--Active) {
                .Projects__Info {
                    background-color: rgba($color--blue-dark, 0.9);
                    bottom: 0;
                    display: inherit;
                    height: unset;
                    padding: 3.5rem;
                }

                .Projects__Secondary {
                    display: none;
                }
            }
        }
    }

    &__Info {
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        left: 0;
        padding: 2.5rem;
        position: absolute;
        width: 100%;

        @include smScreen {
            padding: 5rem 2.5rem;
        }
    }

    &__Main {
        flex: 1;
        margin-bottom: 2rem;
    }

    &__Label {
        color: $color--green;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &__Title {
        color: $color--white;
    }

    &__Secondary {
        display: flex;
        flex-direction: column;
        flex: 1;

        @include xlScreen {
            align-items: center;
            flex-direction: row;
        }
    }

    &__Description {
        align-self: flex-end;
        color: $color--white;
        margin-bottom: 2rem;

        @include xlScreen {
            align-self: flex-end;
            margin: unset;
        }
    }

    &__Cta {
        align-self: flex-start;

        @include xlScreen {
            align-self: flex-end;
        }
    }

    &__ComingSoon {
        color: $color--green;
        left: 50%;
        padding-top: 10rem;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        width: 100%;

        @include smScreen {
            padding-top: 6.5rem;
        }
    }

    &__Player {
        background-color: transparent;
    }
}
