@import "../../styles/variables.scss";

.pointer {
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    z-index: $index--cursor;

    @media (hover: hover) and (pointer: fine) {
        display: block;
    }
}

.Cursor {
    &__Big {
        @extend .pointer;

        height: 8rem;
        left: -4rem;
        top: -4rem;
        width: 8rem;

        &::before {
            border-radius: 50%;
            border: 2px solid $color--green;
            content: "";
            height: 100%;
            position: absolute;
            transition: background-color 0.3s ease-out, transform 0.3s ease-out;
            width: 100%;
        }

        &--Full {
            &::before {
                background-color: $color--green;
                transform: scale(0.5);
            }
        }
    }

    &__Small {
        @extend .pointer;

        background: $color--green;
        height: 0.8rem;
        left: -0.4rem;
        top: -0.4rem;
        width: 0.8rem;
    }
}
