@import "../../styles/variables.scss";

.Cursor {
    border-radius: 50%;
    padding: 0;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: $index--cursor;

    &__Out {
        border: 1px solid $color--green;
        height: 12rem;
        width: 12rem;
    }

    &__In {
        background-color: $color--green;
        height: 1.5rem;
        width: 1.5rem;
    }
}
