@import "../../styles/variables.scss";

.pointer {
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: $index--cursor;
    display: none;

    @media (hover: hover) and (pointer: fine){
        display: block;
    }
}

.Cursor {
    &__Out {
        @extend .pointer;

        border: 1px solid $color--green;
        height: 12rem;
        width: 12rem;
    }

    &__In {
        @extend .pointer;

        background-color: $color--green;
        height: 1.5rem;
        width: 1.5rem;
    }
}
