@import "../../styles/variables.scss";

.Loader {
    align-items: center;
    background-color: $color--blue-dark;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;

    img {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        will-change: opacity;
    }

    &__Noise {
        transition: transform 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.5s;
        will-change: transform;
    }

    &.Loaded {
        transform: translateY(-100%);
        transition: transform 1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.25s;
        will-change: transform;

        .Loader__Noise {
            transform: translateY(-100%);
        }

        img {
            opacity: 0;
        }
    }
}
