@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Presentation {
    position: relative;

    &__Sphere {
        top: 30%;
        right: 20%;
        z-index: 1;

        @include tabletPortrait {
            top: 10%;
        }

        @include mobilePortrait {
            top: 0%;
            left: -10%;
        }
    }

    &__Section {
        background-color: $color--blue-dark;
        column-gap: 5rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding-top: 30rem;
        padding-bottom: 20rem;

        @include tabletPortrait {
            column-gap: unset;
            grid-template-columns: unset;
        }

        br {
            display: block;

            @include tabletPortrait {
                display: none;
            }
        }
    }

    &__Highlight {
        color: $color--green;
    }

    &__First {
        color: $color--white;
        font-size: $size--xxl;
        grid-column: 1 / 2;
        line-height: 8rem;
        margin-bottom: 4rem;

        @include tabletPortrait {
            font-size: 5rem;
            grid-column: unset;
            line-height: 5rem;
        }
    }

    &__Second {
        align-self: flex-end;
        color: $color--white;
        grid-column: 2 / 3;
        margin-bottom: 3.5rem;

        @include tabletPortrait {
            align-self: unset;
            grid-column: unset;
        }
    }

    &__Third {
        color: $color--gray-light;
        margin-bottom: 6rem;
        grid-column: 2 / 3;

        @include tabletPortrait {
            grid-column: unset;
        }
    }

    &__Cta {
        grid-column: 2 / 3;
        justify-self: flex-start;

        @include tabletPortrait {
            grid-column: unset;
        }
    }
}
