@import "../../styles/animations.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Hero {
  background-color: $color--gray-light;
  position: relative;

  &__Image {
    content: url("/images/hero-desktop.jpg");
    margin-top: -10rem;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    mix-blend-mode: multiply;
    width: 100vw;
    object-fit: cover;

    @include desktopLarge {
      content: url("/images/hero-4k.jpg");
    }

    @include tabletLandscape {
      content: url("/images/hero-desktop.jpg");
    }

    @include tabletPortrait {
      content: url("/images/hero-tablet.jpg");
    }

    @include mobilePortrait {
      content: url("/images/hero-mobile.jpg");
    }
  }

  &__Sphere {
    &--01 {
      left: 5%;
      top: 10%;

      @include mobilePortrait {
        left: unset;
        right: -20%;
        top: 0;
      }
    }

    &--02 {
      right: -5%;
      top: 20%;

      @include tabletPortrait {
        top: 35%;
      }

      @include mobilePortrait {
        left: -30%;
        right: unset;
      }
    }
  }

  &__Section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: min(100%, 100vh);
    left: 0;
    padding-bottom: 10vh;
    padding-top: 10vh;
    position: absolute;
    top: 0;
  }

  &__Greetings {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    br {
      display: none;
    }

    @include tabletPortrait {
      br {
        display: block;
      }
    }
  }

  &__Name {
    margin-bottom: 2rem;
    transition-delay: 4s;
  }

  &__Nickname {
    margin-bottom: 4rem;
    transition-delay: 4.25s;

    span {
      position: relative;
    }

    @include tabletPortrait {
      margin-bottom: 8rem;
    }
  }

  &__Sign {
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-20%, -20%);
    transition-delay: 4.5s;
    z-index: -1;
  }

  &__Cta {
    align-self: flex-start;
    transition-delay: 4.75s;
  }

  &__Links {
    display: flex;
    justify-content: unset;
    transition-delay: 5s;
    width: 100%;

    > * {
      color: $color--white;
    }

    > *:not(:last-of-type) {
      margin-right: 2rem;
    }

    @include tabletPortrait {
      margin: 0;
      justify-content: space-evenly;

      > * {
        margin-right: unset;
      }
    }
  }

  &__Waves {
    bottom: 0;
    left: 0;
    position: absolute;
    transform: rotateX(180deg) rotateY(180deg) scale(1.001) translateY(-45%);

    @include desktopLarge {
      width: 100%;
    }
  }

  &__Player {
    background-color: transparent;
  }
}
