@import "../../styles/animations.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Hero {
    background-color: $color--gray-light;

    &__Sphere {
        animation-direction: alternate;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-name: fluctuation;
        animation-timing-function: ease-in-out;
        display: none;
        mix-blend-mode: screen;
        position: absolute;
        z-index: $index--sphere;

        @include xlScreen {
            display: block;
        }

        &--01 {
            height: 25rem;
            left: 0;
            top: 0;
            width: 25rem;

            @include xlScreen {
                transform: translate(50%, 20%);
            }
        }

        &--02 {
            right: 0;
            top: 100vh;
            transform: translate(10%, -60%);

            @include xlScreen {
                height: 120rem;
                width: 120rem;
            }
        }
    }

    &__Image {
        background-blend-mode: multiply;
        background-image: url("/images/hero.jpg");
        background-repeat: no-repeat;
        height: 1300px;
        right: 0;
        mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        width: 1920px;
        z-index: $index--img;

        @include xsScreen {
            background-image: url("/images/hero-mobile.jpg");
            height: 1000px;
            width: 400px;
            background-position-x: 0;
        }
    }

    &__Main {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    &__Greetings {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;

        br {
            display: none;
        }

        @include smScreen {
            br {
                display: block;
            }
        }
    }

    &__Name {
        margin-bottom: 2rem;
    }

    &__Nickname {
        margin-bottom: 4rem;

        span {
            position: relative;
        }

        @include smScreen {
            margin-bottom: 8rem;
        }
    }

    &__Sign {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-20%, -20%);
        z-index: -1;
    }

    &__Cta {
        align-self: flex-start;
    }

    &__Links {
        display: flex;
        justify-content: unset;
        width: 100%;

        > * {
            color: $color--white;
        }

        > *:not(:last-of-type) {
            margin-right: 2rem;
        }

        @include smScreen {
            margin: 0;
            justify-content: space-evenly;

            > * {
                margin-right: unset;
            }
        }
    }

    &__Waves {
        bottom: -25rem;
        display: flex;
        left: 0;
        position: absolute;
        transform: rotateX(180deg) rotateY(180deg) scale(1.001);
        z-index: $index--waves;
    }

    &__Player {
        background-color: transparent;
    }
}
