@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@mixin navbarTransition {
    transition: background-color 0.4s ease-in-out, height 0.4s ease-in-out;
    will-change: background-color, height;
}

@mixin contentTransition {
    transition: color 0.4s ease-in-out, stroke 0.4s ease-in-out;
    will-change: color, stroke;
}

.Navbar {
    @include navbarTransition;

    align-items: center;
    animation: slideUp 1s ease-in-out 4s;
    display: flex;
    height: 12rem;
    justify-content: space-between;
    padding: 0 globalPadding();
    position: fixed;
    width: 100%;
    z-index: 5;

    h4,
    svg > * {
        @include contentTransition;

        color: $color--blue-dark;
        stroke: $color--blue-dark;
    }

    &--sticky {
        backdrop-filter: blur(10px);
        background-color: rgba($color--blue-dark, 0.8);
        height: 8rem;

        h4,
        svg > * {
            @include contentTransition;

            color: $color--white;
            stroke: $color--white;
        }
    }

    @include mobilePortrait {
        padding: 0 3.6rem;
    }
}
