@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.Navbar {
    align-items: center;
    animation: slideUp 1s ease-in-out 4s;
    display: flex;
    height: 12rem;
    justify-content: space-between;
    padding: 0 globalPadding();
    position: fixed;
    transition: all 0.25s ease-in-out;
    width: 100%;
    z-index: 5;

    * {
        color: $color--blue-dark;
        stroke: $color--blue-dark !important;
    }

    &--sticky {
        backdrop-filter: blur(10px);
        background-color: rgba($color--blue-dark, 0.8);
        height: 8rem;

        * {
            color: $color--white;
            stroke: $color--white !important;
        }
    }

    @include mobilePortrait {
        padding: 0 3.6rem;
    }
}
