@import "../../styles/mixins.scss";

.Navbar {
    align-items: center;
    display: flex;
    height: 12rem;
    justify-content: space-between;
    padding: 0 15rem;
    position: fixed;
    width: 100%;
    z-index: 5;

    @include mobilePortrait {
        padding: 0 3.6rem;
    }
}
