@import "../../styles/mixins";
@import "../../styles/utilities.scss";
@import "../../styles/variables.scss";

.Footer {
    background-color: $color--gray-light;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 30rem 3.5rem 3rem 3.5rem;
    position: relative;

    @include largeScreen {
        padding: 45rem 3.5rem 3rem 3.5rem;
    }

    &__Sphere {
        @extend .sphere;

        &--01 {
            height: 32rem;
            right: 0;
            top: 0;
            transform: translate(35%, 15%);
            width: 32rem;

            @include largeScreen {
                transform: translate(-100%, 15%);
            }
        }
    }

    &__Title {
        margin-bottom: 1.5rem;

        br {
            display: none;
        }

        @include largeScreen {
            margin-left: 20%;
        }
    }

    &__Email {
        align-self: flex-start;
        margin-bottom: 20rem;

        @include largeScreen {
            margin-left: 20%;
            margin-bottom: 45rem;
        }
    }

    &__Bottom {
        display: flex;
        flex-direction: column;

        @include largeScreen {
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }

    &__Contacts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        @include largeScreen {
            > * {
                margin-right: 2rem;
            }
        }
    }

    &__Rights {
        align-self: center;
        color: $color--gray;
    }
}
