@import "../../styles/mixins";
@import "../../styles/utilities.scss";
@import "../../styles/variables.scss";

.Footer {
    background-color: $color--gray-light;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 45rem 0 3rem 0;
    position: relative;

    @include smallScreen {
        padding: 20rem 4rem 2rem 4rem;
    }

    &__Sphere {
        @extend .sphere;

        &--01 {
            height: 25rem;
            right: 0;
            top: 0;
            transform: translate(-100%, 15%);
            width: 25rem;

            @include smallScreen {
                transform: translate(35%, 15%);
            }

            @include xlargeScreen {
                height: 32rem;
                width: 32rem;
            }
        }
    }

    &__Top {
        margin: 0 $indent;
        margin-bottom: 45rem;
    }

    &__Title {
        margin-bottom: 2rem;

        br {
            display: none;
        }

        @include smallScreen {
            margin-bottom: 1.5rem;
            margin-left: unset;
        }
    }

    &__Email {
        align-self: flex-start;

        @include smallScreen {
            margin-bottom: 20rem;
            margin-left: unset;
        }
    }

    &__Bottom {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 10rem;

        @include smallScreen {
            align-items: unset;
            flex-direction: column;
            justify-content: unset;
            padding: unset;
        }
    }

    &__Contacts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        > *:not(:last-of-type) {
            margin-right: 2rem;
        }
    }

    &__Rights {
        align-self: center;
        color: $color--gray;
    }
}
