@import "../../styles/variables.scss";

.Waves {
    background-color: $color--blue-dark;
    display: flex;
    position: relative;
    z-index: $index--waves !important;

    &--Reverse {
        transform: rotateX(180deg) scale(1.001);
    }
}
