@import "../../styles/mixins";
@import "../../styles/variables.scss";

.Footer {
    background-color: $color--gray-light;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 2rem;
    padding-top: 55rem;

    &__Image {
        content: url("/images/footer-desktop.jpg");
        margin-top: 15rem;
        mix-blend-mode: multiply;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: $index--img;

        @include large {
            content: url("/images/footer-4k.jpg");
        }

        @include tabletLandscape {
            content: url("/images/footer-desktop.jpg");
        }

        @include tabletPortrait {
            content: url("/images/footer-tablet.jpg");
        }

        @include mobilePortrait {
            content: url("/images/footer-mobile.jpg");
        }
    }

    &__Waves {
        display: flex;
        left: 0;
        position: absolute;
        top: -25rem;
        transform: scale(1.001);
        z-index: $index--waves;
    }

    &__Sphere {
        animation-direction: alternate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: fluctuation;
        animation-timing-function: ease-in-out;
        display: none;
        mix-blend-mode: screen;
        position: absolute;
        z-index: $index--sphere;

        @include large {
            display: block;
        }

        &--01 {
            right: 0;
            bottom: 100vh;
            transform: translate(-100%, 250%);

            @include large {
                height: 32rem;
                width: 32rem;
            }
        }

        &--02 {
            right: 0;
            bottom: 100vh;
            transform: translate(-120%, 50%);

            @include large {
                height: 80rem;
                width: 80rem;
            }
        }
    }

    &__Top {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }

    &__Title {
        margin-bottom: 3.5rem;

        br {
            display: none;
        }
    }

    &__Email {
        align-self: flex-start;
    }

    &__Bottom {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        @include tabletPortrait {
            align-items: unset;
            flex-direction: column;
            justify-content: unset;
        }
    }

    &__Contacts {
        display: flex;
        justify-content: space-between;

        > *:not(:last-of-type) {
            margin-right: 2rem;
        }

        @include tabletPortrait {
            margin-bottom: 3rem;
        }
    }

    &__Rights {
        align-self: center;
        color: $color--gray;

        br {
            display: none;
        }

        @include tabletPortrait {
            text-align: center;

            a {
                margin-bottom: 1rem;
            }

            span {
                display: none;
            }

            br {
                display: block;
            }
        }
    }
}
