@import "../../styles/mixins";
@import "../../styles/variables.scss";

.Footer {
    background-color: $color--gray-light;
    position: relative;

    &__Image {
        content: url("/images/footer-desktop.jpg");
        mix-blend-mode: multiply;
        max-width: 100vw;
        z-index: $index--img;

        @include large {
            content: url("/images/footer-4k.jpg");
        }

        @include tabletLandscape {
            content: url("/images/footer-desktop.jpg");
        }

        @include tabletPortrait {
            content: url("/images/footer-tablet.jpg");
        }

        @include mobilePortrait {
            content: url("/images/footer-mobile.jpg");
        }
    }

    &__Waves {
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(1.001) translateY(-60%);
        z-index: $index--waves;

        @include large {
            width: 100%;
        }
    }

    &__Sphere {
        animation-direction: alternate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: fluctuation;
        animation-timing-function: ease-in-out;
        mix-blend-mode: screen;
        position: absolute;
        z-index: $index--sphere;

        &--01 {
            bottom: 100vh;
            height: 25rem;
            right: 0;
            transform: translate(-120%, 300%);
            width: 25rem;

            @include tabletPortrait {
                height: 15rem;
                transform: translate(-80%, 500%);
                width: 15rem;
            }
        }

        &--02 {
            bottom: 100vh;
            height: 120rem;
            right: 0;
            transform: translate(-70%, 35%);
            width: 120rem;

            @include tabletPortrait {
                height: 90rem;
                transform: translate(-10%, 50%);
                width: 90rem;
            }
        }
    }

    &__Main {
        align-items: flex-start;
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        left: 0;
        padding-bottom: 5vh;
        padding-top: 10vh;
        position: absolute;

        @include large {
            width: 100%;
        }
    }

    &__Top {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }

    &__Title {
        margin-bottom: 3.5rem;

        br {
            display: none;
        }
    }

    &__Email {
        align-self: flex-start;
    }

    &__Bottom {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;

        @include tabletPortrait {
            align-items: unset;
            flex-direction: column;
            justify-content: unset;
        }
    }

    &__Contacts {
        display: flex;
        justify-content: space-between;

        > *:not(:last-of-type) {
            margin-right: 2rem;
        }

        @include tabletPortrait {
            margin-bottom: 3rem;
        }
    }

    &__Rights {
        align-self: center;
        color: $color--gray;

        br {
            display: none;
        }

        @include tabletPortrait {
            text-align: center;

            a {
                margin-bottom: 1rem;
            }

            span {
                display: none;
            }

            br {
                display: block;
            }
        }
    }
}
