@import "../../styles/variables.scss";

.AudioPlayer {
    position: fixed;
    right: 15vw;
    top: 5rem;
    z-index: 3;
    display: flex;
    align-items: center;

    * {
        color: $color--white;
    }

    img {
        width: 25;
        height: 25;
        margin-left: 2rem;
    }
}
