@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.AudioPlayer {
    display: flex;
    width: 13rem;
    justify-content: space-between;

    @include isHoverEnable {
        &:hover {
            svg {
                transform: scale(1.1);
            }
        }
    }

    svg {
        position: relative;
        top: -3px;
        transition: all 0.4s ease-in-out;
    }

    path {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
        stroke: #fff;
    }
}
