@import "../../styles/variables.scss";

.AudioPlayer {
    align-items: center;
    display: flex;
    width: 13rem;
    justify-content: space-between;

    &__Icon {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
        stroke: #fff;
    }
}
