@import "../../styles/mixins.scss";

.Logo {
    height: 3.6rem;
    transition: transform 0.4s ease-in-out;
    will-change: transform;

    &--hoverable {
        @include isHoverEnable {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
