@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Hero {
    align-items: flex-start;
    background-color: $color--gray-light;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 2rem;
    position: relative;

    &__Greetings {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;

        > *:not(:last-child) {
            margin-bottom: 2rem;
        }

        br {
            display: none;
        }

        @include smScreen {
            br {
                display: block;
            }
        }
    }

    &__Cta {
        align-self: flex-start;
    }

    &__Links {
        display: flex;
        justify-content: unset;
        width: 100%;

        > *:not(:last-of-type) {
            margin-right: 2rem;
        }

        @include smScreen {
            margin: 0;
            justify-content: space-evenly;

            > * {
                margin-right: unset;
            }
        }
    }

    &__Player {
        background-color: transparent;
    }
}
