@import "../../styles/mixins.scss";
@import "../../styles/utilities.scss";
@import "../../styles/variables.scss";

.Hero {
    align-items: center;
    background-color: $color--gray-light;
    display: flex;
    flex-direction: column;
    padding-top: 21.5rem;
    overflow: hidden;
    position: relative;

    @include largeScreen {
        align-items: flex-start;
        padding-top: 50rem;

        &__Greetings,
        &__Cta,
        &__Links {
            margin-left: 20%;
        }
    }

    &__Sphere {
        @extend .sphere;

        &--01 {
            height: 32rem;
            right: 0;
            top: 0;
            transform: translate(35%, -15%);
            width: 32rem;

            @include largeScreen {
                left: 0;
                right: unset;
                transform: translate(80%, 50%);
            }
        }

        &--02 {
            bottom: 0;
            height: 60rem;
            left: 0;
            transform: translate(-40%, 0);
            width: 60rem;

            @include largeScreen {
                height: 120rem;
                left: unset;
                right: 0;
                transform: translate(20%, 0);
                width: 120rem;
            }
        }
    }

    &__Greetings {
        margin-bottom: 4rem;

        @include largeScreen {
            br {
                display: none;
            }
        }
    }

    &__Cta {
        margin-bottom: 15.8rem;

        @include largeScreen {
            margin-bottom: 29rem;
        }
    }

    &__Links {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10rem;
        width: 100%;

        @include largeScreen {
            justify-content: unset;

            > * {
                margin-right: 2rem;
            }
        }
    }

    &__Waves {
        @extend .waves;
    }
}
