@import "../../styles/variables.scss";

.Modal {
    background: $color--white;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;

    &__Overlay {
        background-color: rgba($color--black, 0.8);
        left: 0;
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
    }
}
