@import "../../styles/variables.scss";

.Modal {
    background-color: $color--white;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;

    &__Overlay {
        backdrop-filter: blur(30px);
        background-color: rgba($color--blue-dark, 0.9);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
}
