@import "../styles/animations.scss";

.Main {
    &::before {
        animation: noise 1s steps(2) infinite;
        background-image: url('/images/noise.png');
        background-position: 50%;
        content: "";
        height: calc(100% + 20rem);
        left: -10rem;
        pointer-events: none;
        position: absolute;
        top: -10rem;
        width: calc(100% + 20rem);
        z-index: 9;
    }
}
