@import "../styles/variables.scss";

.Navbar {
    &--blue {
        * {
            color: $color--blue-dark;
            stroke: $color--blue-dark;
        }
    }

    &--white {
        * {
            color: $color--white;
            stroke: $color--white;
        }
    }
}
