@import "../styles/variables.scss";

.Navbar {
    &--default {
        * {
            color: $color--blue-dark;
            stroke: $color--blue-dark;
        }
    }

    &--sticky {
        background-color: $color--blue-dark;
        height: 8rem;

        * {
            color: $color--white;
            stroke: $color--white;
        }
    }
}
