@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Text {
    font-weight: 500;

    &--h1 {
        font-size: $size--xl;
    }

    &--h2 {
        font-size: $size--md;
    }

    &--h3 {
        font-size: $size--sm;
    }

    &--h4 {
        font-family: $font--secondary;
        font-size: $size--sm;
        font-weight: 700;
    }

    &--h5 {
        font-family: $font--secondary;
        font-size: $size--sm;
        font-weight: 300;
    }

    &--h6 {
        font-family: $font--secondary;
        font-size: $size--xxs;
        letter-spacing: 0.3rem;
    }
}
