@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Gradient {
    height: 100vh;
    left: 0;
    mix-blend-mode: soft-light;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    width: 100vw;
    z-index: $index--noise;

    &__Background {
        background-image: url("/images/gradient-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;

        @include desktopLarge {
            background-image: url("/images/gradient-4k.jpg");
        }

        @include tabletLandscape {
            background-image: url("/images/gradient-desktop.jpg");
        }

        @include tabletPortrait {
            background-image: url("/images/gradient-tablet.jpg");
        }

        @include mobileLandscape {
            background-image: url("/images/gradient-desktop.jpg");
        }

        @include mobilePortrait {
            background-image: url("/images/gradient-mobile.jpg");
        }
    }
}
