@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Noise {
    background-image: url(/images/gradient-noise.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    mix-blend-mode: soft-light;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $index--noise;

    @include smScreen {
        background-image: url(/images/gradient-noise-mobile.png);
    }
}
