@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

@function randomMargin() {
    @return #{randomNum(-3, 3)}rem #{randomNum(-3, 3)}rem;
}

@keyframes fluctuation {
    0% {
        margin: 0 0;
    }

    25% {
        margin: randomMargin();
    }

    50% {
        margin: randomMargin();
    }

    75% {
        margin: randomMargin();
    }

    100% {
        margin: randomMargin();
    }
}
