@import "./functions.scss";
@import "./mixins.scss";
@import "./variables.scss";

:root {
  --font--primary: $font--primary;
  --font--secondary: $font--secondary;

  --color--blue-dark: #{$color--blue-dark};
  --color--cyan: #{$color--cyan};
  --color--gray-light: #{$color--gray-light};
  --color--gray: #{$color--gray};
  --color--green: #{$color--green};
  --color--pink: #{$color--pink};
  --color--white: #{$color--white};

  --rgb--blue-dark: #{toRGB($color--blue-dark)};
  --rgb--cyan: #{toRGB($color--cyan)};
  --rgb--gray-light: #{toRGB($color--gray-light)};
  --rgb--gray: #{toRGB($color--gray)};
  --rgb--green: #{toRGB($color--green)};
  --rgb--pink: #{toRGB($color--pink)};
  --rgb--white: #{toRGB($color--white)};
}

@font-face {
  font-family: $font--secondary;
  src: url("/fonts/JosefinSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: $font--secondary;
  src: url("/fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: $font--secondary;
  src: url("/fonts/JosefinSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: $font--primary;
  src: url("/fonts/YesevaOne-Regular.ttf");
}

*,
*::after,
*::before {
  box-sizing: inherit;
  color: $color--blue-dark;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font--primary;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  &.no-overflow {
    overflow: hidden;
  }
}

main {
  position: relative;
  overflow: hidden;
}

* {
  cursor: none;
  user-select: none;
}

main > * {
  padding: 0 max(4rem, calc((100vw - 108rem) / 2));
}

main > * * {
  z-index: $index--default;
}

iframe {
  display: flex;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: $color--white;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb {
  background: $color--green;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($color--green, 10);
}
