@import "aos/dist/aos.css";

@import "./functions.scss";
@import "./mixins.scss";
@import "./variables.scss";

@font-face {
  font-family: $font--secondary;
  src: url("/fonts/JosefinSans-Bold.ttf");
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: $font--secondary;
  src: url("/fonts/JosefinSans-Regular.ttf");
  font-display: fallback;
}

@font-face {
  font-family: $font--secondary;
  src: url("/fonts/JosefinSans-Light.ttf");
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: $font--primary;
  src: url("/fonts/YesevaOne-Regular.ttf");
  font-display: fallback;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  color: $color--blue-dark;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font--primary;
  font-size: 62.5%;

  @include desktopHuge {
    font-size: 120%;
  }

  @include mobileLandscape {
    font-size: 56.25%;
  }

  @include mobilePortrait {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;

  &.no-overflow {
    overflow: hidden;
  }
}

main {
  position: relative;
  overflow: hidden;
}

* {
  cursor: none;
  user-select: none;
}

section {
  padding: 0 max(4rem, calc((100% - 108rem) / 2));
  position: relative;
  width: 100%;

  @include tabletPortrait {
    padding: 0 5rem;
  }
}

section * {
  z-index: $index--content;
}

iframe {
  display: flex;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: $color--white;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb {
  background: $color--green;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($color--green, 10);
}
