@mixin gradientNoise($color) {
    $color: rgba($color, 0.8);

    background-attachment: fixed;
    background-image: linear-gradient(to bottom, $color, $color), url("/images/gradient-noise.png");
    background-size: cover;
  }