$color--black: #000000;
$color--blue-dark: #122031;
$color--cyan: #25d6d8;
$color--gray-light: #eaeef1;
$color--gray: #6a7494;
$color--green: #1de3b0;
$color--pink: #f38ed3;
$color--white: #ffffff;

$font--primary: "YesevaOne";
$font--secondary: "JosefinSans";

$size--xxl: 9rem;
$size--xl: 7rem;
$size--lg: 4rem;
$size--md: 3rem;
$size--sm: 2rem;
$size--xs: 1.5rem;
$size--xxs: 1rem;

$index--sphere: 0; 
$index--img: 1; 
$index--waves: 1;
$index--noise: 2;
$index--bubbles: 3;
$index--content: 4;
$index--modal: 5;
$index--cursor: 6;
