@import "../../styles/mixins.scss";
@import "../../styles/utilities.scss";
@import "../../styles/variables.scss";

.Projects {
    background-color: $color--blue-dark;
    overflow: hidden;
    position: relative;

    &__Cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 $indent;

        @include smallScreen {
            display: block;
            grid-template-columns: unset;
            padding: unset;
        }
    }

    &__Card {
        align-items: flex-start;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 40rem;
        padding: 5rem 3.5rem 5rem 3.5rem;
        position: relative;

        @include smallScreen {
            padding: 7rem 3.5rem 3.5rem 3.5rem;
        }

        &:not(&--Active) {
            > * {
                display: none;
            }

            @include smallScreen {
                .Projects__Main {
                    display: block;
                }
            }

            .Projects__Main {
                background-color: rgba($color--blue-dark, 0.8);
                bottom: 0;
                height: 20rem;
                left: 0;
                padding: 4rem;
                position: absolute;
                width: 100%;
            }
        }
    }

    &__Main {
        flex: 1;
    }

    &__Label {
        color: $color--green;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
    }

    &__Title {
        color: $color--white;
        margin-bottom: 2.5rem;
    }

    &__Secondary {
        display: flex;
        flex-direction: column;
        flex: 1;

        @include xlargeScreen {
            align-items: center;
            flex-direction: row;
        }
    }

    &__Description {
        align-self: flex-end;
        color: $color--white;
        margin-bottom: 5rem;

        @include xlargeScreen {
            align-self: flex-end;
            margin: unset;
        }
    }

    &__Cta {
        align-self: flex-start;

        @include xlargeScreen {
            align-self: flex-end;
        }
    }

    &__ComingSoon {
        color: $color--green;
        padding-top: 10rem;
        text-align: center;
        width: 100%;

        @include smallScreen {
            padding-top: 6.5rem;
            width: unset;
        }
    }

    &__Waves {
        @extend .waves;
        transform: rotateX(180deg);
    }
}
